<div class="container">
  <h3 class="d-inline-block px-4 ml-5"><i class="fas fa-shopping-bag"></i>注文情報確認</h3>
  <div class="container my-4">
    <div class="row mb-4">
      <% if current_customer.cart_items.present? %>
      <table class="items col-8 table table-bordered">
        <thead>
          <tr class="bg-light">
            <th col="4">商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= image_tag cart_item.item.get_item_image(50, 50) %>
              <%= cart_item.item.name %>
            </td>
            <td>￥<%=(cart_item.item.price).to_s(:delimited)%></td>
            <td><%= cart_item.amount %></td>
            <td>￥<%=(cart_item.item.price*cart_item.amount).to_s(:delimited)%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <table class="price col-3 table table-bordered ml-5">
        <tbody>
          <tr>
            <th class="bg-light">送料</th>
            <td>￥<%= @order.charge %></td>
          </tr>
          <tr>
            <th class="bg-light">商品合計</th>
            <td>￥<%= @total_price.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="bg-light">請求金額</th>
            <td>￥<%= (@total_price+@order.charge).to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mb-4">
      <h4 class="font-weight-bolder mr-5">支払い方法</h4>
      <h5>
        <%= @order.payment_method_i18n %>
      </h5>
    </div>
    <div class="row mb-4">
      <h4 class="font-weight-bolder mr-5">お届け先</h4>
      <%= "〒" + @order.post_number %><br>
      <%= @order.address %><br>
      <%= @order.name %>
    </div>
      <%= form_with model: @order, url:{controller: "orders",action: "create"} do |f| %>
        <%= f.hidden_field :post_number %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :charge %>
        <%= f.hidden_field :total_payment %>
        <%= f.hidden_field :order_status %>
      <div class="d-flex justify-content-center">
        <%= f.submit "注文を確定する", class: "btn btn-success" %>
      <% end %>
      <% else %>
      <p>※お客様のショッピングカートに商品はありませんので注文確定ができませんでした。</p>
      <p><%= link_to "商品一覧", items_path %>から商品をお探し下さい。</p>
    <% end %>
      </div>
  </div>
</div>