<!DOCTYPE html>
<html>
  <head>
    <title>Destino</title>
    <%= favicon_link_tag('logo.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: #007fff">
      <%= render "layouts/header", customer: current_customer %>
    </header>
    <main class="pb-5">
      <div class="text-center", style="height: 30px;">
        <div id="flash-message" style="display: none;">
          <%= render "layouts/flash_message" %>
        </div>
      </div>
    <%= yield %>
    </main>
    <div style="height: 100px;"></div>
    <footer class="text-center fixed-bottom", style="background-color: #007fff">
      <div class="container">
        <div class="row">
          <div class="mx-auto mt-3">
           <p>©Destino︎.inc</p>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
